{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Analyze My Mood!!!!</h1>
        <p> EXPLANATION ABOUT THE PROJECT!!!!!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Id cursus metus aliquam eleifend mi in nulla posuere. Lorem sed risus ultricies
            tristique nulla aliquet enim. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Commodo quis
            imperdiet massa tincidunt nunc pulvinar. Convallis a cras semper auctor neque vitae. Amet venenatis urna
            cursus eget nunc. Vel facilisis volutpat est velit egestas dui id. Arcu dictum varius duis at consectetur
            lorem donec massa. Id volutpat lacus laoreet non curabitur gravida arcu ac. Parturient montes nascetur
            ridiculus mus mauris vitae ultricies leo. Non odio euismod lacinia at quis risus. Diam donec adipiscing
            tristique risus. At tellus at urna condimentum mattis pellentesque id. Diam vel quam elementum pulvinar
            etiam non quam lacus.

            Eu facilisis sed odio morbi. Purus ut faucibus pulvinar elementum integer enim neque volutpat. Natoque
            penatibus et magnis dis. At auctor urna nunc id cursus metus. Facilisis magna etiam tempor orci eu. Morbi
            quis commodo odio aenean. Commodo ullamcorper a lacus vestibulum sed. Arcu risus quis varius quam quisque
            id. Ornare massa eget egestas purus viverra accumsan in nisl. Et malesuada fames ac turpis egestas. Vel quam
            elementum pulvinar etiam. Vitae elementum curabitur vitae nunc. Dictumst quisque sagittis purus sit amet
            volutpat consequat mauris nunc. Ut venenatis tellus in metus vulputate eu. Consectetur a erat nam at.
            Gravida in fermentum et sollicitudin ac orci phasellus egestas. In nibh mauris cursus mattis molestie a.</p>
    </div>
</div>


{% endblock %}
