{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Analyze My Mood!!!!</h1>
         <p>The purpose of this project is enabling users to enter a query and
            analyze the sentiment associated with that query. Sentiment analysis is a popular topic in natural language
            processing and has a wide range of application areas. Social media is one of the reasons of the popularity
            of sentiment analysis. Thanks to applications like Twitter, millions of users share their opinions about
            different topics almost every second. There is a rich information pool to be analyzed.</p>
        <p>For example, for a marketing expert who has released a new product to the market, the tweets about their
            product can be considered much more important than the sales numbers. By analyzing the tweets, the
            reason of unsatisfactory of the customers can be detected and immediate actions can be taken.
            Sentiment analysis is also important for politicians. They can analyze the reaction of the voters
            about their actions and update their campaigns accordingly.</p>        
	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Twitter API</h2>
            <p> In this project Twitter is used as data source. Twitter API provides many opportunities to
                the users like analyzing past conversations, measuring tweet performance, listening for important
                events, exploring tweets for a specific account, etc.
            <p><a class="btn btn-secondary" href="https://developer.twitter.com/en/docs/twitter-api" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Domain Specific Tweet Collection</h2>
            <p> For the first prototype, a domain will be
                specified and keywords related to this domain will be determined. Since Covid-19 is the most
                popular topic nowadays if Covid-19 is selected as the domain the related keywords can be
                "Coronavirus, Corona, Wuhan virus, China virus, Chinese virus, pandemic, lockdown,
                quarantine, social distance, stay home etc.".More details can be found in the github repository.</p>
            <p><a class="btn btn-secondary" href="https://github.com/aysegulsari/599" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sentiment analysis</h2>
            <p> For a time interval specified by the user, the tweets
                related to these keywords will be downloaded and stored in a database. User will be able to
                create reports depending on the sentiment analysis of stored tweets. For more details about sentiment analysis check following academic paper.</p>
            <p><a class="btn btn-secondary" href="https://www.aclweb.org/anthology/S17-2002.pdf" role="button">View details &raquo;</a></p>
        </div>
    </div>
    {% endblock %}
